<div class="offcanvas-container" id="shop-categories">
      <div class="offcanvas-header">
        <h3 class="offcanvas-title">Shop Categories</h3>
      </div>
      <nav class="offcanvas-menu">
        <ul class="menu">
          <li class="has-children"><span><a href="#">Men's Shoes</a><span class="sub-menu-toggle"></span></span>
            <ul class="offcanvas-submenu"><li class="back-btn"><a href="#">Back</a></li>
              <li><a href="#">Sneakers</a></li>
              <li><a href="#">Loafers</a></li>
              <li><a href="#">Boat Shoes</a></li>
              <li><a href="#">Sandals</a></li>
              <li><a href="#">View All</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    <!-- Topbar-->
    <div class="topbar">
      <div class="topbar-column"><a class="hidden-md-down" href="mailto:diennuocwartec@gmail.com"><i class="icon-mail"></i>&nbsp; diennuocwartec@gmail.com</a><a class="hidden-md-down" href="tel:00331697720"><i class="icon-bell"></i>&nbsp; 0389.501.059 - 0946.276370</a><a class="social-button sb-facebook shape-none sb-dark" href="#" target="_blank"><i class="socicon-facebook"></i></a><a class="social-button sb-twitter shape-none sb-dark" href="#" target="_blank"><i class="socicon-twitter"></i></a><a class="social-button sb-instagram shape-none sb-dark" href="#" target="_blank"><i class="socicon-instagram"></i></a><a class="social-button sb-pinterest shape-none sb-dark" href="#" target="_blank"><i class="socicon-pinterest"></i></a>
      </div>
    </div>
    <header class="navbar navbar-sticky navbar-stuck" style="background-image: linear-gradient(90deg,#003e52 50%,#0d6d85 87%,#1a9cb7 100%);">
      <!-- Search-->
      <div class="site-search text-center" method="">
        <input type="text" name="search" placeholder="Tìm kiếm sản phẩm ...">
        <div class="search-tools"><span class="clear-search" style="color:white">Clear</span><span class="close-search" style="color:white"><i class="icon-cross"></i></span></div>
      </div>
      <div class="site-branding">
        <div class="inner">
          <a class="offcanvas-toggle cats-toggle" href="#shop-categories" data-toggle="offcanvas"></a>
          <a class="site-logo" href="/"><img src="themes/img/logo.gif" alt="Wartec" style="width:50px;height:50px"></a>
        </div>
      </div>
      <!-- Main Navigation-->
      <nav class="site-menu">
        <ul>
          <li class="has-megamenu active"><a href="/"><span>Home</span></a>
          </li>
          <% types.forEach(function(type) { %>
		      <li><a><span style="color:white;font-weight:bold"><%= type.name %></span></a>
		        <ul class="sub-menu">
		        	<% type.type_info.forEach(function(data) { %>
						<li><a href="/product_list?type_main=<%= type._id %>&type=<%= data._id %>"><%= data.name %></a></li>
		         	<% }); %>
		        </ul>
		      </li>
		  <% }); %>
          </ul>
          </li>
        </ul>
      </nav>
      <!-- Toolbar-->
      <div class="toolbar">
        <div class="inner">
          <div class="tools">
            <div class="search" style="background-color: yellowgreen;"><i class="icon-search"></i></div>
			
			<div class="account" style="background-color: beige;"><a></a><i class="icon-head"></i>
			<ul class="toolbar-dropdown">
				<li class="sub-menu-user">
			<% if(user){ %>
				<input type="hidden" name="user" value="<%= user.user_name %>">
				<% if(user.facebook_id){ %>
					<input type="hidden" name="key" value="<%= user.facebook_id %>">
					<input type="hidden" name="url_picture_user" value="http://graph.facebook.com/<%= user.facebook_id %>/picture?type=normal">
					<div class="user-ava"><img src="http://graph.facebook.com/<%= user.facebook_id %>/picture?type=normal" alt="<%= user.user_name %>"></div>
				<% } else { %>
					<input type="hidden" name="url_picture_user" value="<%= user.picture %>">
					<div class="user-ava"><img src="<%= user.picture %>" alt="<%= user.user_name %>"></div>
					<% if(user.google_id){ %>
						<input type="hidden" name="key" value="<%= user.google_id %>">
					<% } else { %>
						<input type="hidden" name="key" value="<%= user.user_name %>">
					<% } %>
				<% } %>
				  <li class="sub-menu-separator"></li>
				  <div class="user-info">
					<h6 class="user-name"><%= user.user_name %></h6>
				  </div>
				</li>
				  <li><a href="/">My Profile</a></li>
				<li class="sub-menu-separator"></li>
				<li><a href="/logout"> <i class="icon-unlock"></i>Logout</a></li>
			<% } else{ %>
			<li name="login" data-toggle="modal" data-target="#modal_login"><i class="icon-unlock"></i>Login</li>
		  <% } %>
				</ul>
			</div>
			<% if(user){ %>
				<% if(user.role == 'admin'){ %>
					<div class="account"><a href="/admin_setting"></a><i class="icon-cog"></i>
				</div>
				<% } %>
			<% } %>
					  
            <div style="background-color: darkgray;"class="cart <% if(product_booking_data.total_product != 0) { %> cart_enable<%}%>"><a href="buy_now" class="link_cart <% if(product_booking_data.total_product == 0) { %> disabled<%}%>"></a><i class="icon-bag"></i><span class="count" style="font-size:20px;color:red"><%= product_booking_data.total_product %></span><span class="subtotal money_format" style="color:red"><%= product_booking_data.total_price %></span>
              <div class="toolbar-dropdown">
              <% product_booking_data.product_booking.forEach(function(product) { %>
                <% product.product_info.forEach(function(info, index) { %>
                  <div class="dropdown-product-item">
                  <span class="dropdown-product-remove">
                    <i class="icon-cross"></i>
                  </span>
                  <input type="hidden" name="id" value="<%= index %>">
                  <a class="dropdown-product-thumb" href="buy_now">
                  <img src="upload/<%= info.main_file %>" alt="Product"></a>
                    <div class="dropdown-product-info"><a class="dropdown-product-title" href="buy_now"><%= info.name %></a>
                      <span class="dropdown-product-details"><%= info.number %> x <span class="money_format" style="color:red"><%= info.price %></span></span>
                    </div>
                  </div>
                <% }); %>
              <% }); %>
                <div class="toolbar-dropdown-group">
                  <div class="column"><span class="text-lg">Tổng cộng:</span></div>
                  <div class="column text-right"><span class="text-lg text-medium money_format" style="color:red"><%= product_booking_data.total_price %></span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>