<div class="offcanvas-container" id="shop-categories">

    </div>
    <!-- Topbar-->
    <div class="topbar">
      <div class="topbar-column"><a class="hidden-md-down" href="mailto:shopsuadanang@gmail.com"><i class="icon-mail"></i>&nbsp; shopsuadanang@gmail.com</a><a class="hidden-md-down" href="tel:0972981498"><i class="icon-bell"></i>&nbsp; 0972.981.498</a><a class="social-button sb-facebook shape-none sb-dark" href="#" target="_blank"><i class="socicon-facebook"></i></a><a class="social-button sb-twitter shape-none sb-dark" href="#" target="_blank"><i class="socicon-twitter"></i></a><a class="social-button sb-instagram shape-none sb-dark" href="#" target="_blank"><i class="socicon-instagram"></i></a><a class="social-button sb-pinterest shape-none sb-dark" href="#" target="_blank"><i class="socicon-pinterest"></i></a>
      </div>
    </div>
    <header class="navbar navbar-sticky navbar-stuck" style="background: #006fba;">
      <!-- Search-->
      <div class="site-search text-center" method="">
        <input type="text" name="search" placeholder="Tìm kiếm sản phẩm ...">
        <div class="search-tools"><span class="clear-search" style="color:white">Clear</span><span class="close-search" style="color:white"><i class="icon-cross"></i></span></div>
      </div>
      <div class="site-branding">
        <div class="inner">
          <a class="site-logo" href="/"><img src="themes/img/logo.png" alt="Wartec" style="width:50px;height:50px"></a>
        </div>
      </div>
      <!-- Main Navigation-->
      <nav class="site-menu">
        <ul>
          <li class="has-megamenu active"><a href="/"><span>Home</span></a>
          </li>
          <% types.forEach(function(type) { %>
		      <li><a><span style="color:white;font-weight:bold"><%= type.name %></span></a>
		        <ul class="sub-menu">
		        	<% type.type_info.forEach(function(data) { %>
						<li><a href="/product_list?type_main=<%= type._id %>&type=<%= data._id %>"><%= data.name %></a></li>
		         	<% }); %>
		        </ul>
		      </li>
		  <% }); %>
          </ul>
          </li>
        </ul>
      </nav>
      <!-- Toolbar-->
      <div class="toolbar">
        <div class="inner">
          <div class="tools">
            <div class="search" style="background-color: yellowgreen;"><i class="icon-search"></i></div>					  
            <div style="background-color: darkgray;"class="cart <% if(product_booking_data.total_product != 0) { %> cart_enable<%}%>"><a href="buy_now" class="link_cart <% if(product_booking_data.total_product == 0) { %> disabled<%}%>"></a><i class="icon-bag"></i><span class="count" style="font-size:20px;color:red"><%= product_booking_data.total_product %></span><span class="subtotal money_format" style="color:red"><%= product_booking_data.total_price %></span>
              <div class="toolbar-dropdown">
              <% product_booking_data.product_booking.forEach(function(product) { %>
                <% product.product_info.forEach(function(info, index) { %>
                  <div class="dropdown-product-item">
                  <span class="dropdown-product-remove">
                    <i class="icon-cross"></i>
                  </span>
                  <input type="hidden" name="id" value="<%= index %>">
                  <a class="dropdown-product-thumb" href="buy_now">
                  <img src="upload/<%= info.main_file %>" alt="Product"></a>
                    <div class="dropdown-product-info"><a class="dropdown-product-title" href="buy_now"><%= info.name %></a>
                      <span class="dropdown-product-details"><%= info.number %> x <span class="money_format" style="color:red"><%= info.price %></span></span>
                    </div>
                  </div>
                <% }); %>
              <% }); %>
                <div class="toolbar-dropdown-group">
                  <div class="column"><span class="text-lg">Tổng cộng:</span></div>
                  <div class="column text-right"><span class="text-lg text-medium money_format" style="color:red"><%= product_booking_data.total_price %></span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="offcanvas-wrapper">
    <section class="hero-slider" style="background-image: url(themes/img/main-item_1.jpg);">
      <div class="owl-stage-outer">
      <div>
          <div class="container padding-top-3x">
            <div class="row">
              <div class="col-md-1">
              </div>
              <div class="col-md-10 text-center">
              </div>
              <div class="col-md-1">
              </div>
            </div>
          </div>
        </div>
        </div>
        </div>
    </section>
  </div>